.wrapper {
    background: #ffffff;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

header li {
    display: inline-block;
}

.main {
    float: left;
    width: 650px;
    margin-right: 19px;
    height: 100px;
    border: 1px dashed grey;
       
}

.sidebar{
    float: right;
    width: 270px;
    margin-left: 19px;
    height: 100px;
    margin-left: 0px;  

}

.box{
    height: auto;
}

.footer{
    clear: both;
    float: bottom;
}

.footer p{
    text-align: center;
}


div{
    border-width: 1px;
    border-style: dashed;
    border-color: blue;
}